/* style.css */
:root {
    /* ============= PALETA DE CORES ============= */
    --primary-text-color: #000000;
    --primary-bg-color: #ffffff;

    --gradient-start: #e1e1fb;
    --gradient-end: #8e8eff;

    --card-bg-color: #bcbcff;

    --button-hover-bg-color: #454545;

    --social-link-hover-color: #ddd;

    --shadow-outer: #00000080;
    --shadow-inner-1: #91c0ff99;
    --shadow-inner-2: #ffffff;
}

body {
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 35%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav i {
    font-size: 2em;
    margin: 16px 0 0 70px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
}

/* 
#logo{
    max-width: 250px;
} */

a img {
    transform: scale(1.1);
}

.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.welcome h2 {
    font-size: 1.5em;
    margin-top: 0;
}

.card {
    background-color: var(--card-bg-color);
    width: 80%;
    margin: 1em;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 35px 35px 68px var(--shadow-outer), 
                inset 0 0 16px 0px var(--shadow-inner-1), 
                inset 0px 11px 28px 0px var(--shadow-inner-2);
}

.card img {
    width: 100%;
    max-width: 400px;
    height: auto;
    align-self: center;
    border-radius: 35px;
}

.card {
    padding: 2em;
}

.card-content {
    padding: 1em;
    text-align: center;
}

.card-content h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.card-content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.card-content h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.card-content button {
    padding: 10px 20px;
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-content button:hover {
    background-color: var(--button-hover-bg-color);
}

.footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.footer i {
    font-size: 1.2em;
    margin: 0 0.5em;
}

.social-links {
    margin-top: 1em;
}

.social-links a {
    color: var(--primary-text-color);
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--social-link-hover-color);
}

@media screen and (max-width: 768px) {
    .card img {
        max-width: 250px;
    }
}

@media screen and (min-width: 768px) {

    .welcome {
        display: flex;
    }

    .card {
        width: 40%;
    }
}
